
.aside{
  width: 150px;
  background-color: gold;
  height: auto;
  margin: 5px;
  padding: 20px;
  float: left;
}

#wrapper {
  width: 500px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  margin-top:10px;
}
.container:after{
  content: ".";
  visibility: hidden;
  display:block;
  height: 0;
  clear:both;
}

.article {
  width: 900px;

}


